.ripple {
  width: 100%;
  height: 500px;
  background: url(../../images/content.jpg) no-repeat center / cover;
  display: flex;
  align-items: center;
  justify-content: center;

  & a{
    text-align: center;
    color: #333;
    background-image: linear-gradient(45deg , #ffffff71 , #30303071);
    background-size: 200% 200%;
    transition: background-position 0.4s ease;
    backdrop-filter: blur(10px);
    padding: 10px 40px;
    font-weight: 700;
    font-family: serif;
    text-shadow: 1px 1px 4px #ffffffb7;
    &:hover{
      background-position: right top;
    }
  }
}