.instaSec {
  max-width: 1500px;
  margin: 0 auto 200px;

  & h3 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  & .postFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & li {
      width: calc(100% / 3);
      max-width: 500px;
      & a {
        & img {
          transition: all 0.3s ease-in-out;
          aspect-ratio: 1;
          object-fit: cover;
          filter: grayscale(100%);
        }
        &:hover img{
          filter: grayscale(10%);
        }
      }
    }
  }
}
