
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');
/* スクロール領域全体 */
.scroll_container {
  height: 450vh;

  /* Sticky部分（固定） */
  &  .sticky_wrap {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;

    /* 横スクロール本体 */
    & .horizontal_scroll {
      position: relative;
      bottom: 0;
      margin:120px 0;/* headerサイズに合わせる */
      height: 80vh; 
      width: 400vw; /* スライド数 × 100vw */
      will-change: transform;
      display: flex;
      justify-content: space-between;
      transition: transform 0.5s linear;

      /* 各スライド */
      & .scroll_contents {
        position: relative;
        height: 100%;
        margin: 0 auto;
        width: 75vw;
        overflow: hidden;
        transition: transform 0.3s ease;
        transform-origin: center center;

        /* 画像を全画面でフィット */
        & .image {
          width: 100%;
          aspect-ratio: 3 / 2;
          object-fit: cover;
          display: block;
          position: relative;
          height: 100%;
        }
        & .imagetext{
          position: absolute;
          color: #ffffff;
          font-family: "Eagle Lake", serif;
          font-size: 16px;
          font-weight: 600;
          left: 0;
          top: 0;
          aspect-ratio: 1;
          list-style: 1;
          z-index: 1;
          padding: 30px 0px 0 10px;

          &::before{
            content: "";
            position: absolute;
            background-color: rgba(0, 0, 0, .5);
            -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%);
            filter: blur(10px);
            /* background-image: linear-gradient(45deg, #000000, #ffffff); */
            left: 0;
            top: 0;
            width: 150px;
            height: 150px;
            z-index: -1;
          }
        }
      }
    }
  }
}


