@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");

.vs_bk {
  background: url(../../images/other/vs_bk.png) no-repeat center / cover;
  background-attachment: fixed;
  height: 100%;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    background-color: #000000c7;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.Visualsec {
  padding: 200px 16px;
  text-align: center;

  & p {
    color: #fff;
  }
}

.codeSec {
  & .codeTitle{
    backdrop-filter: blur(15px);
    padding: 70px 0 20px;
    & .enBox {
      text-align: center;
      font-family: serif;
      position: relative;
  
      & .en {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 8rem;
        color: #ffffff63;
        z-index: 0;
        font-weight: 700;
        line-height: 1;
      }
      & .en2 {
        font-size: 2.4rem;
        color: #fff;
        line-height: 1.6;
      }
    }
    & h3 {
      text-align: center;
      line-height: 1;
    }
  }
  & .codeOuter {
    margin: 100px 20px 120px;
    & .codeBox {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 80px;
      margin-bottom: 80px;

      & figure {
        box-shadow: 10px 10px 0px #707070;
        & img {
          aspect-ratio: 1;
          object-fit: cover;
          width: 750px;
        }
      }

      & .texyBox {
        color: #fff;
        & .number {
          font-size: 4rem;
          line-height: 1;
          margin-bottom: 60px;
          display: inline-block;
          font-family: "DM Serif Text", serif;
          font-weight: 600;
          font-style: italic;
        }
        & h4 {
          font-size: 2.8rem;
        }
        & p {
          font-size: 16px;
        }
      }
    }
    & .codeBox01 {
      position: relative;
      & .right_en {
        position: absolute;
        writing-mode: sideways-rl;
        right: 5%;
        top: 0;
        color: #949494;
        font-family: serif;
        font-size: 16px;
      }
    }
    & .codeBox02 {
      flex-direction: row-reverse;
    }
    & .codeBox03 {
      position: relative;
      & .left_en {
        position: absolute;
        left: 5%;
        top: 5%;
        color: #c5c5c5;
        font-family: serif;
        font-size: 20px;
        z-index: 2;
        text-shadow: 1px 1px 3px #2b2b2ba9;
      }

      & .imgGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 8px;
        max-width: 1000px;
        margin: 0 auto;
        & .gridItem {
          overflow: hidden;
          aspect-ratio: 1;
          position: relative;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
          & .price {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            opacity: 0;
            color: #fff;
            transition: all 0.5s ease-in-out;
          }
          &::before {
            content: "";
            position: absolute;
            background-color: #33333396;
            backdrop-filter: blur(4px);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.5s ease-in-out;
            opacity: 0;
          }
        }
        & .gridItem:hover {
          & .price,
          &::before {
            opacity: 1;
          }
        }

        & .gridItem01 {
          grid-row: 1 / span 2;
          aspect-ratio: 1 / 2;
        }
        & .gridItem02 {
          grid-row: 1 / span 1;
        }
        & .gridItem03 {
          grid-row: 2 / span 1;
        }
      }
      & .textBox {
        position: absolute;
        bottom: 0;
        right: 5%;
        color: #fff;
        width: 400px;
        text-shadow: 2px 2px 4px  #33333388;
        & .number {
          font-size: 4rem;
          line-height: 1;
          font-weight: 800;
          margin-bottom: 40px;
          display: inline-block;
          font-family: "DM Serif Text", serif;
          font-weight: 600;
          font-style: italic;
        }
        & h4 {
          font-size: 2.6rem;
        }
        & p {
          font-size: 16px;
        }
      }
    }
  }
}
