
/* 点の方 */
.cursor_dot {
  position: fixed;
  top: 0;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
/* 円の方 */
.cursor_follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: 9998;
}
@media (max-width: 768px) {
  .cursor_dot, .cursor_follower {
    display: none;
  }
}