.secondSec {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  align-items: flex-start;
  margin-bottom: 200px;
  height: 300vh;

  & .leftOuter {
    width: 40%;
    position: sticky;
    top: 80px;
    height: auto;
    z-index: 2;
    margin-top: 50px;

    & .videoBox {
      width: 100%;
      height: 100vh;

      & video {
        aspect-ratio: 1 / 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  & .rightOuter {
    width: 50%;
    height: 300vh;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    &::before{
      content: "Brand";
      position: absolute;
      bottom: -30px;
      right: 2%;
      font-size: 7rem;
      font-family: serif;
      font-weight: 800;
      color: #dddddd73;
      line-height: 1;
    }
    & h3 {
      writing-mode: tb;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2;
      font-family: serif;
      margin-top: 100px;
      & span {
        display: block;
      }
      & .text2 {
        margin-top: 100px;
      }
    }
    & .textBox{
      & p {
        text-align: center;
        color: #fff;
        font-size: 16px;
        
      }
      & .BtnBox {
        width: fit-content;
        margin: 100px auto 0;
        /* position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); */
      }
    }
    & img{
      width: 200px;
    }
  }
  @media (max-width: 768px) {
    .leftOuter {
      position: static; /* 固定を解除 */
      width: 100%;
      height: auto;
    }
    .rightOuter {
      margin-left: 0;
      width: 100%;
      height: auto;
      overflow: visible;
    }
    .secondSec {
      flex-direction: column;
    }
  }
}
