
.topvisual {
  height: 800px;
  margin-top: 120px;
  position: relative;
  & .tvImgBox {
    display: flex;
    height: 100%;
    & img {
      height: 100%;
      width: 50%;
      object-fit: cover;
    }
    & .tvimg02 {
      filter: grayscale(100%);

    }
  }
  & h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 7rem;
    font-family: serif;
    font-weight: 600;
    mix-blend-mode: difference;
    color: #ffffff;
    line-height: 1;
    text-shadow: 0px 0px 10px #ffffffab;
    animation: zoomOut 2s ease-out forwards;
  }
}
@keyframes zoomOut {
  0% {
    transform: translate(-50%, -50%) scale(1.3); /* 大きめから */
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1); /* 通常サイズへ */
    opacity: 1;
  }
}

