.photoSec {
  background-color: #000;
  padding: 120px 20px;
  

  & .scroll_container {
    & .sticky_wrap {
      /* overflow: hidden; */
      position: sticky;
      top: 0;
      height: 110vh;

      & .dotIndicator {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 8px;
        z-index: 2;
      }

      & .horizontal_scroll {
        /* height: 50%;
        margin: auto 0; */
        width: 500vw;
        will-change: transform;
        display: flex;
        justify-content: space-around;
        align-items: center;
         height: 100%; /* 親の高さに合わせる */

        & .imageWrapper {
          position: relative;
          width: 100%;
          overflow: hidden;
          height: auto; 
          
          
          & img {
            width:50%;
            aspect-ratio: 2 / 1;
            object-fit: cover;
            object-position: center;
            margin: 0 auto;
            display: block;
            will-change: transform;

            @media (max-width: 896px) {
              aspect-ratio: 8 / 5;
            }
          }

          & .imageText {
            font-size: 40px;
            color: #fff;
            font-weight: bold;
            position: relative;
            z-index: 1;
            text-align: center;

            /* @media (max-width: 896px) {
              left: 10%;
              font-size: 18px;
              top: 5%;
              z-index: 2;

              &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-color: rgba(0, 0, 0, 0.5);
                filter: blur(5px);
                z-index: -1;
                width: 70px;
                height: 40px;
              }
            } */
          }
        }
      }
    }
  }
}

& .dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: background 0.3s;
}

& .dot.active {
  background: #fff;
}