html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: clamp(1.4rem, 1.4vw, 1.6rem);
  line-height: 1.875;
  color: var(--color-dark);
  letter-spacing: 0.1em;
  background: #000;
  margin: 0;
}
.imgslide {
  background-color: #000;

  /* & .slidesize{
    width: 50%;
    margin: 0 auto;
  } */
}
/* mainvisual */
.topvisual {
  width: 100%;
  padding: 120px 0 200px;
  display: flex;
  justify-content: center;
  background-color: #000;

  & .toptitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

    & h2 {
      color: #fff;
      font-size: 5rem;
      font-family: serif;
      writing-mode: vertical-rl;
      letter-spacing: 7px;
    }
  }
  & figure {
    object-fit: cover;
    object-position: center;
    width: 80%;
    margin: 0;
    margin-left: auto;

    & img {
      width: 100%;
    }

    @media (max-width: 1000px) {
      height: 200px;
    }
  }
}

/* top */
.topSec {
  color: #fff;
  height: 200vh;
  /* padding: 800px 0 0; */
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background: #00000085;
    width: 100%;
    height: 200vh;
    top: 0;
    left: 0;
    z-index: 0;
  }

  & .videoBox {
    position: relative;

    & video {
      left: 0;
      position: fixed;
      bottom: 0;
      height: 100%;
      width: 100vw;
      z-index: -5;
      object-fit: cover;
    }
  }
}
.topSec .txt,
.txt2,
.txt3 {
  position: relative;
  z-index: 1;
}
.topSec .txt {
  max-width: 500px;
  text-align: center;
  height: 150vh;
  writing-mode: vertical-rl;
  margin-left: auto;
  margin-right: 20%;
  font-size: 3.8rem;
}
.top_title video {
  width: 100%;
}
.top_title {
  background-attachment: fixed;
  position: relative;
}

.Visualsec {
  /* background: url(../../images/roots02.jpg) no-repeat center;
  background-size: 100%; */
  background: #000000;
  height: 500px;
  & h2 {
    /* color: #ffffff47; */
    color: red;
    font-size: 5rem;
    font-weight: 800;
    font-family: serif;
    writing-mode: vertical-rl;
    letter-spacing: 7px;
    margin-left: auto;
    margin-right: 8%;
  }
  & p {
    /* padding: 100px 0 0 300px; */
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 2.4;
    letter-spacing: 4px;
    margin-top: -60px;
  }
}

.verticalSec {
  padding: 200px 16px;
  & ul {
    display: flex;
    flex-direction: row-reverse;
    gap: 7vw;
    width: fit-content;
    margin: 0 auto;
    color: #ccc;
    transform: translateX(-50%);

    & li {
      writing-mode: vertical-rl;
      font-size: 16px;
      & p {
        letter-spacing: 3px;
        line-height: 2.6;
        & span {
          display: inline-block;
        }
      }
      & p:nth-child(2) {
        margin-top: 80px;
      }
      & p:nth-child(3) {
        margin-top: 160px;
      }
    }
    & li:nth-child(2) {
      padding-top: 200px;
    }
    & li:nth-child(3) {
      padding-top: 400px;
    }
  }
  @media(max-width: 1055px) {
    padding: 100px 16px;
    & ul {
      transform: translateX(0%);
    }
  }
}
